@model ClientMVC.Models.FlightViewModel
@{
}

<div class="card mb-2">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-2 col-lg-2 align-self-center order-1 order-lg-1 mb-3">
          <h5 class="card-title">@Model.FlightNumber  </h5>
          <h6 class="card-subtitle text-muted">@Model.FlightType</h6>
          <!-- Button -->
          <div class="mt-2 text-md-start">
            @{var id = Model.FlightNumber;}
            @Html.Action("Edit", new { id = id })
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4 align-self-center order-3 order-lg-2">
          <p>Departure: <span class="main-color">@Model.DepartureAirportIATA </span>  <small> @Html.ValueFor(model => model.DepartureDateTime, "{0:MM/dd/yyyy hh:mm tt}")</small></p>
          <p>Arrival: <span class="main-color"> @Model.ArrivalAirportIATA </span>  <small>@Html.ValueFor(model => model.ArrivalDateTime, "{0:MM/dd/yyyy hh:mm tt}")</small></p>
        </div>
        <div class="col-6 col-md-2 col-lg-2 align-self-center order-2 order-lg-3">
          <h6 class="card-subtitle text-muted">@Model.TotalPriceNIS NIS </h6>
        </div>
        <div class="col-12 col-md-4 col-lg-4 align-self-center order-4 order-lg-4">
          @foreach (var comment in Model?.Comments)
          {
            <small>
              @comment
            </small><br />
          }
        </div>
      </div>
    </div>
  </div>
</div>

@section scripts
{
  <script type="text/javascript">

    $(function () {
      $.ajaxSetup({ cache: false });
      $(".compItem").click(function (e) {

        e.preventDefault();
        $.get(this.href, function (data) {
          $('#dialogContent').html(data);
          $('#modDialog').modal('show');
        });
      });
    })
  </script>
}