@model ClientMVC.Models.FiltersRequest
@Html.ActionLink("Reset all", "Index", "Flights", Model, new { @class = "page-link mt-3 mb-1", onclick = "populateStorage();" })

<form asp-controller="Flights" asp-action="Index" method="post">

  <div class="form-group mt-2">
    <div class="form-check">
      @Html.RadioButtonFor(model => model.FlightType, "null", new { @class = "form-check-input ", @name = "FlightType", Checked = "checked" })
      @Html.LabelFor(model => model.FlightType, "All", new { @class = "form-check-label" })
    </div>
    <div class="form-check">
      @Html.RadioButtonFor(model => model.FlightType, "0", new { @class = "form-check-input", @name = "FlightType" })
      @Html.LabelFor(model => model.FlightType, "Regular flight", new { @class = "form-check-label" })
    </div>
    <div class="form-check">
      @Html.RadioButtonFor(model => model.FlightType, "1", new { @class = "form-check-input", @name = "FlightType" })
      @Html.LabelFor(model => model.FlightType, "Low cost flight", new { @class = "form-check-label" })
    </div>
    <div class="form-check ">
      @Html.RadioButtonFor(model => model.FlightType, "2", new { @class = "form-check-input", @name = "FlightType" })
      @Html.LabelFor(model => model.FlightType, "Charter flight", new { @class = "form-check-label" })
    </div>
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.DateFrom, "Date from:", new { @class = "form-check-label" }) <br>
    @Html.EditorFor(model => model.DateFrom, new { htmlAttributes = new { @class = "form-control" } })
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.DateTo, "Date to:", new { @class = "form-check-label" }) <br>
    @Html.EditorFor(model => model.DateTo, new { htmlAttributes = new { @class = "datepicker form-control" } })
  </div>
  <div class="form-group">
    <p>
      @Html.LabelFor(model => model.PriceRange, "Price range:", new { @class = "form-check-label" }) <br>
      @Html.TextBoxFor(m => m.PriceRange, new { @readonly = "readonly", @id = "amount", @style = "border: 0; color: #0DCAF0; font-weight: bold; " })
    </p>

    <div id="slider-range"></div>
  </div>
    <input type="submit" class="btn btn-navy btn-lg btn-block" value="Apply" />
</form>