@model ClientMVC.Models.FlightViewModel

@{
  var id = @Model?.FlightNumber;
  string buttonId = $"#modal{id}";
  string modalId = $"modal{id}";
  string submitId = $"#submit{id}";
}



<button type="button" class="btn btn-navy shadow lift" data-toggle="modal" data-target=@buttonId>
  Edit Flight
</button>
<div class="modal fade" id=@modalId tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Update Flight Details <span class="badge bg-info">@Model?.FlightNumber</span></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form asp-action="Edit" class="column needs-validation" id="formId">

        <div class="modal-body">
          @Html.HiddenFor(model => model.FlightNumber)
          <h5>Departure:  <span class="badge btn-navy">@Model?.DepartureAirportIATA</span></h5>
          <h5>Arrival: <span class="badge btn-navy">@Model?.ArrivalAirportIATA</span></h5>
          <hr>

          <div class="form-group">
            @Html.LabelFor(model => model.DepartureDateTime, "Departure Date Time:", new { @class = "form-check-label" })
            @Html.EditorFor(model => model.DepartureDateTime, new { htmlAttributes = new { @class = "form-control startDate" } })
            @Html.ValidationMessageFor(m => m.DepartureDateTime, "", new { @class = "text-error" })
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.ArrivalDateTime, "Arrival Date Time:", new { @class = "form-check-label" })
            @Html.EditorFor(model => model.ArrivalDateTime, new { htmlAttributes = new { @class = "form-control endDate" } })
            @Html.ValidationMessageFor(m => m.ArrivalDateTime, "", new { @class = "text-error " })
            <div id="myProfile">

            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.BasePriceNIS, "Base price ₪:", new { @class = "form-check-label" })
            @Html.EditorFor(model => model.BasePriceNIS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.BasePriceNIS, "", new { @class = "text-error" })
          </div>

          <div class="form-group center-block">
            <div class="form-check">
              @Html.RadioButtonFor(model => model.FlightType, "Regular", new { @class = "form-check-input", @name = "FlightType" })
              @Html.LabelFor(model => model.FlightType, "Regular flight", new { @class = "form-check-label" })
            </div>
            <div class="form-check">
              @Html.RadioButtonFor(model => model.FlightType, "LowCost", new { @class = "form-check-input", @name = "FlightType" })
              @Html.LabelFor(model => model.FlightType, "Low cost flight", new { @class = "form-check-label" })
            </div>
            <div class="form-check ">
              @Html.RadioButtonFor(model => model.FlightType, "Charter", new { @class = "form-check-input", @name = "FlightType" })
              @Html.LabelFor(model => model.FlightType, "Charter flight", new { @class = "form-check-label" })
            </div>
            @Html.ValidationMessageFor(m => m.FlightType, "", new { @class = "text-error" })
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-navy">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

